@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/ibanezsrstaand.jpg);
    background-size: cover;
    background-position:center ;
}

.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logoplace{
    display:flex;
    align-items: center;
}

.navbar .logoplace h1{
    color:white;
}

.navbar ul li{
    margin: 0 20px;
    list-style:none;
    display: inline-block;
    text-transform: uppercase;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 0.4s;
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 25px;
}

.navbar ul li a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    
}

.logo{
    margin: 0 30px;
    width: 100px;
    cursor: pointer;
    padding: 10px;
}

.product{
    margin: 75px 0;
    justify-content: space-between;
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:white;
}

.name{
    margin: auto;
    color:#fff
}

.name h1{
    font-weight: 600;
    font-size: 40px;
}

.name p{
    font-weight: 400;
    font-size:20px;
}

.proimg{
    margin: auto;
}

.proimg .bassimg{
    width: 50% ;
    height: 50%;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 25px;
    padding: 0 10px ;
    transition: .5s;
}

.proimg .bassimg:hover{
    background-color: rgba(255, 255, 255, 0.181);
}

.buttons{
    margin: 40px 0;
}

.buttons ul li{
    margin: 0 20px;
    list-style:none;
    display: inline-block;
    text-transform: uppercase;
}

.buttons ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: 1px solid ;
    border-radius: 25px;
    padding: 10px;
    transition: 0.3s;
}

.buttons ul li a:hover{
    background-color: rgba(159, 159, 159, 0.245);
}

.buttons ul li .buybtn{
    transition: 0.3s;
    color: black;
    background-color:white ;
}

.buttons ul li .buybtn:hover{
    color: white;
}

